body {
	padding-bottom: 30px;
}

.qcmd {
	cursor: pointer;
}

#popup {
	background-color: #7f8c8d;
	color: #FFFFFF;
	position: fixed;
	padding: 10px;
	margin: 10px;
	bottom: 0;
	right: 0;
	display: none;
	border-radius: 5px;
}
.navbar-fixed-top {
	position: relative;
	z-index: 100;
}

#main{
	margin-top: 40px;
}

.custom-logo, .custom-title{
	height: 60px;
	overflow: hidden;;
}

.custom-link{
	height: 40px;
	overflow: hidden;
}

.custom-kpi{
	height: 200px;
	overflow: hidden;
}

.custom-export, .custom-reload{
	height: 40px;
}

.custom-chart-1{
	height: 250px;
}

.custom-chart-2{
	height: 500px;
}

@media (max-width: 768px) {
    .custom-logo, .custom-title, .custom-link{
		text-align: center;
	} 
	.custom-title{
		height: 100px;
	}

	body{
		padding-bottom: 60px;
	}

	#export{
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 9999;
		background-color: #ffffff;
		-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	}
	.custom-export, .custom-reload{
		height: 30px;
	}
}