html.auto_dark_dark{
    background-color: #000 !important;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

html.auto_dark_grey{
    background-color: #000 !important;
    filter: invert(100%) grayscale(100%);
    -webkit-filter: invert(100%) grayscale(100%);
}